@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3 {
  font-family: var(--font-federo);
}

body {
  color: #313131;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center
  }

  .drop-shadow-primary {
    filter: drop-shadow(0px 10px 20px rgba(180, 180, 180, 0.25))
  }

  .btn-primary {
    @apply bg-primary text-white px-4 py-1.5 lg:px-8 lg:py-2 border border-transparent font-medium
  }
}


@media (max-width : 768px) {
  .itenary-overview-item:nth-of-type(5) {
    transform: translateX(50%);
  }
}


@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.react-calendar {
  border: none !important;
  filter: drop-shadow(0px 10px 20px rgba(180, 180, 180, 0.25))
}
.react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}